<div class="container text-center">
	<h3>Connexion</h3>
	<div class="row " *ngIf="showError">
		<div class="col" *ngIf="showError text-center">
			<div class="alert alert-danger alert-dismissible fade show "
				role="alert">
				Il y a une erreur dans dans le login ou mdp
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>

	<form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col">
				<mat-form-field> <input matInput placeholder="mail"
					formControlName="mail" required> <mat-error
					*ngIf="connexionForm.hasError(required)"> mail is <strong>required</strong>
				</mat-error> <mat-error *ngIf="!connexionForm.hasError(mail)">
				 <strong>Mail invalide </strong> </mat-error> </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<mat-form-field> <input matInput
					placeholder="password" [type]="hide ? 'password' : 'text'"
					formControlName="password" required> <mat-icon matSuffix
					(click)="hide = !hide">{{hide ? 'visibility_off' :
				'visibility'}}</mat-icon> <mat-error *ngIf="!connexionForm.hasError(required)">
				Mot de passe Invalide </mat-error> </mat-form-field>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col">
				<button mat-raised-button color="primary" [disabled]="loading">
					Connexion</button>
			</div>
		</div>
	</form>
</div>
