<div class="mui--text-title">Connexion</div>

<div class="mui-container-fluid">
    <form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">

        <div class="mui-row">
            <div class="mui-col-md-offset-5 mui-col-md-2">
                <mat-form-field>
                    <input matInput placeholder="mail" formControlName="mail" required>
                    <mat-error *ngIf="form.mail.errors?.required">
                        mail is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="form.mail.errors?.mail">
                        mail must be a <strong>valid mail address</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-offset-5 mui-col-md-2">
                <mat-form-field>
                    <input matInput placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="form.mail.errors?.required">
                        password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <br>

        <div class="mui-row">
            <div class="mui-col-md-offset-5 mui-col-md-2">
                <button mat-raised-button color="primary" [disabled]="loading">
                    Register
                </button>
            </div>
        </div>
    </form>  
</div>
