<div class="container">
  <br>   
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="typeCalendarView"
          [(viewDate)]="viewDate"
        >
          Précédent
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Aujourd'hui
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="typeCalendarView"
          [(viewDate)]="viewDate"
        >
          Suivant
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(typeCalendarView + 'ViewTitle'):'fr-FR' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="typeCalendarView = CalendarView.Month"
          [class.active]="typeCalendarView === CalendarView.Month"
        >
          Moi
        </div>
        <div
          class="btn btn-primary"
          (click)="typeCalendarView = CalendarView.Week"
          [class.active]="typeCalendarView === CalendarView.Week"
        >
          Semaine
        </div>
        <div
          class="btn btn-primary"
          (click)="typeCalendarView = CalendarView.Day"
          [class.active]="typeCalendarView === CalendarView.Day"
        >
          Jour
        </div>
      </div>
    </div>
  </div>

  <div [ngSwitch]="typeCalendarView">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
    >
    </mwl-calendar-day-view>
  </div>
</div>