<div class="container">

    <div class="text-center">Inscription</div>


    <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="offset-4"></div>
            <div class="col-2">
                <mat-form-field>
                    <input matInput placeholder="Nom" formControlName="nom" required>
                    <mat-error *ngIf="inscriptionForm.get('nom').hasError('required')">
                        Nom is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field>
                    <input matInput placeholder="Prenom" formControlName="prenom" required>
                    <mat-error *ngIf="inscriptionForm.get('prenom').hasError('required')">
                        Prenom is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="offset-4"></div>
        </div>

        <div class="row">
            <div class="offset-4"></div>
            <div class="col-2">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="inscriptionForm.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="inscriptionForm.get('email').hasError('email')">
                        Email must be a <strong>valid email address</strong>
                    </mat-error>
                    <mat-error *ngIf="inscriptionForm.get('email').hasError('uniqueMail')">
                        Email déjà <strong>utilisé</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field>
                    <input matInput type="number" placeholder="Telephone" formControlName="telephone" class="example-right-align" required>
                    <span matPrefix>+33 &nbsp;</span>
                    <mat-error *ngIf="inscriptionForm.get('telephone').hasError('pattern')">
                        Il faut 10 caractères
                    </mat-error>
                    <mat-error *ngIf="inscriptionForm.get('telephone').hasError('required')">
                            Telephone is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="offset-4"></div>
        </div>

        <div class="row">
            <div class="offset-4"></div>
            <div class="col-auto">
                <mat-form-field>
                    <input 
                    matInput 
                    placeholder="password" 
                    [type]="hide ? 'password' : 'text'" 
                    formControlName="password" 
                    required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="inscriptionForm.get('password').hasError('required')">
                        password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="offset-4"></div>
        </div>

        <div class="row">
            <div class="offset-4"></div>
            <div class="col-auto">
                <mat-form-field>
                    <input matInput 
                    placeholder="Confirmation" 
                    [type]="hide ? 'password' : 'text'" 
                    formControlName="confirmation" 
                    required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="inscriptionForm.get('confirmation').hasError('required')">
                        password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="inscriptionForm.get('confirmation').hasError('mustMatch')">
                        Passwords do not match!
                    </mat-error>
                </mat-form-field>
            </div>
                <div class="offset-4"></div>
        </div>

        <div class="row">
            <div class="offset-4"></div>
            <div class="col-auto">
                <button mat-raised-button color="primary" [disabled]="loading">
                    Register
                </button>
            </div>
            <div class="offset-4"></div>
        </div>
    </form>  

</div>